*,
*::after,
*::before {
  box-sizing: border-box;
  cursor: none !important;
}

:root {
  font-size: 16px;
  --color-text: #fff;
  --color-bg: #000;
  --color-link: #fff;
  --color-link-hover: #fff;
}

body {
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: "area-normal", -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica, Arial, sans-serif;
  font-family: "anonymous-pro", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow: hidden;
}

.company-logo {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 160px;
  display: block;
  /* Adjust the width as needed */
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
  content: "";
  position: fixed;
  z-index: 1000;
}

.js .loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.js .loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}
button {
  position: relative;
  width: 11em;
  height: 4em;
  outline: none;
  transition: 0.1s;
  background-color: transparent;
  border: none;
  font-size: 13px;
  font-weight: bold;
  color: #ddebf0;
}

#clip {
  --color: #2761c3;
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 5px double var(--color);
  box-shadow: inset 0px 0px 15px #195480;
  -webkit-clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
}

.arrow {
  position: absolute;
  transition: 0.2s;
  background-color: #2761c3;
  top: 35%;
  width: 11%;
  height: 30%;
}

#leftArrow {
  left: -13.5%;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
}

#rightArrow {
  -webkit-clip-path: polygon(100% 49%, 0 0, 0 100%);
  left: 102%;
}

button:hover #rightArrow {
  background-color: #27c39f;
  left: -15%;
  animation: 0.6s ease-in-out both infinite alternate rightArrow8;
}

button:hover #leftArrow {
  background-color: #27c39f;
  left: 103%;
  animation: 0.6s ease-in-out both infinite alternate leftArrow8;
}

.corner {
  position: absolute;
  width: 4em;
  height: 4em;
  background-color: #2761c3;
  box-shadow: inset 1px 1px 8px #2781c3;
  transform: scale(1) rotate(45deg);
  transition: 0.2s;
}

#rightTop {
  top: -1.98em;
  left: 91%;
}

#leftTop {
  top: -1.96em;
  left: -3em;
}

#leftBottom {
  top: 2.1em;
  left: -2.15em;
}

#rightBottom {
  top: 45%;
  left: 88%;
}

button:hover #leftTop {
  animation: 0.1s ease-in-out 0.05s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
}

button:hover #rightTop {
  animation: 0.1s ease-in-out 0.15s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
}

button:hover #rightBottom {
  animation: 0.1s ease-in-out 0.25s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
}

button:hover #leftBottom {
  animation: 0.1s ease-in-out 0.35s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
}

button:hover .corner {
  transform: scale(1.25) rotate(45deg);
}

button:hover #clip {
  animation: 0.2s ease-in-out 0.55s both greenLight8;
  --color: #27c39f;
}

@keyframes changeColor8 {
  from {
    background-color: #2781c3;
  }

  to {
    background-color: #27c39f;
  }
}

@keyframes lightEffect8 {
  from {
    box-shadow: 1px 1px 5px #27c39f;
  }

  to {
    box-shadow: 0 0 2px #27c39f;
  }
}

@keyframes greenLight8 {
  from {
  }

  to {
    box-shadow: inset 0px 0px 32px #27c39f;
  }
}

@keyframes leftArrow8 {
  from {
    transform: translate(0px);
  }

  to {
    transform: translateX(10px);
  }
}

@keyframes rightArrow8 {
  from {
    transform: translate(0px);
  }

  to {
    transform: translateX(-10px);
  }
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
  cursor: pointer;
}

a:hover {
  color: var(--color-link-hover);
  outline: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
  /* Provide a fallback style for browsers
	 that don't support :focus-visible */
  outline: none;
  background: lightgrey;
}

a:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
  background: transparent;
}

a:focus-visible {
  /* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
  outline: 2px solid red;
  background: transparent;
}

.unbutton {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

.unbutton:focus {
  outline: none;
}

.frame {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  color: var(--color-title);
  padding: 2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto auto 1fr;
  grid-template-areas: "title title" "prev back" "demos demos" "sponsor sponsor" "nav nav";
  justify-content: start;
  align-content: start;
  align-items: start;
  z-index: 100;
  pointer-events: none;
  grid-gap: 1rem;
}

body #cdawrap {
  align-self: start;
  justify-self: start;
}

.slide_content div {
  padding-left: 50px;
}

.frame a,
.frame button {
  pointer-events: auto;
}

.frame__title {
  grid-area: title;
  display: flex;
  align-items: flex-end;
  font-weight: 400;
}

.frame strong {
  font-weight: 700;
}

.frame__title-main {
  font-size: inherit;
  margin: 0;
  font-weight: inherit;
}

.frame__back {
  grid-area: back;
}

.frame__prev {
  grid-area: prev;
}

.frame__demos {
  grid-area: demos;
  display: grid;
  grid-template-columns: repeat(8, auto);
  column-gap: 1rem;
  row-gap: 0.5rem;
}

.frame__demos span {
  grid-column: 1 / span 8;
}

a.frame__demo {
  font-weight: 400;
  font-size: 1rem;
  text-decoration: none;
  opacity: 0.5;
  font-family: "anonymous-pro", monospace;
}

a.frame__demo--current {
  font-weight: 700;
  opacity: 1;
  color: var(--color-link-hover);
}

.slides {
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  place-items: center;
}

.slide {
  width: 100%;
  height: 100%;
  grid-area: 1 / 1 / -1 / -1;
  pointer-events: none;
  opacity: 0;
  overflow: hidden;
  position: relative;
  display: grid;
  place-items: center;
  will-change: transform, opacity;
}

.slide--current {
  pointer-events: auto;
  opacity: 1;
}

.deco {
  width: 100%;
  height: 100%;
  grid-area: 1 / 1 / -1 / -1;
  pointer-events: none;
  position: relative;
  opacity: 0;
  background: #8c718e;
  will-change: transform, opacity;
}

.deco--1 {
  background: #d4503e;
}

.deco--2 {
  background: #1c1a1a;
}

.deco--3 {
  background: #4e4141;
}

.deco--4 {
  background: #000;
}

.deco--5 {
  background: #060b17;
}

.deco--6 {
  background: #34365c;
}

.deco--7 {
  background: #9f6794;
}
video {
  width: 100vw;
  height: 100dvh;
  object-fit: cover;
  z-index: -10;
  display: absolute;
  position: fixed;
}
.slide__img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  will-change: transform, opacity, filter;
}
.slide_content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.demo-2 .slide__img {
  width: 120%;
  height: 120%;
}

.slides-nav {
  grid-area: nav;
  display: flex;
  gap: 0.5rem;
  align-self: end;
  align-items: center;
  justify-content: flex-end;
}

.slides-nav::before {
  content: "scroll / drag";
  margin-right: 2rem;
}

.slides-nav__item {
  border: 0;
  background: #fff;
  color: #000;
  width: 60px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.slides-nav__item:hover {
  background-color: #ccc;
}

.menu--open svg:not(:root) {
  background: black;
  opacity: 85%;
}

@media screen and (min-width: 53em) {
  .frame {
    height: 100dvh;
    grid-gap: 2rem;
    align-content: space-between;
    grid-template-columns: auto auto auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "title back prev demos" "sponsor ... ... nav ";
  }

  .frame__demos {
    justify-self: end;
    justify-content: end;
  }

  .frame__demos span,
  a.frame__demo {
    text-align: right;
  }

  .slides-nav {
    justify-self: end;
  }

  body #cdawrap {
    align-self: center;
    justify-self: start;
  }
}

/* @media (max-width: 999px) {
  .dummy {
    display: none;
  }
  .slide_content {
    justify-content: center;
  }
  .slide_content div p {
    font-size: 10px;
  }
} */

@media (max-width: 999px) {
  .slides-nav__item--prev {
    bottom: 40px;
    right: 20px;
  }
  .slides-nav__item--next {
    bottom: 40px;
    right: 20px;
  }
  .slides-nav::before {
    margin-bottom: 3rem;
  }
  .slide_content div {
    padding-left: 30px;
  }
}
