body {
  cursor: none !important;
  
}

.cur {
  height: 31px;
  width: 31px;
  z-index: 99999999;
  pointer-events: none;
  /* background: grey;*/
  border-radius: 50%;
  position: absolute;
  /*animation: cursorAnim .5s infinite alternate;*/
  animation: rotate 4s infinite linear;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100%, 100%;
}

/* @media screen and (max-width: 1279px) {
    .cur {
      display: none;
    }
    body {
      cursor: default;
    }
  } */

.main-cur {
  animation: none;
  margin: 0px;
  content: "";
  width: 0.1px;
  height: 0.1px;
  border: 10.5px solid#1A28CF;
  position: absolute;
  border-radius: 50%;
  /* opacity: .5; */
  top: 4.5px;
  left: 4.5px;
  /* transform: translate(-50%, -50%); */
  animation: cursorAnim 0.5s infinite alternate;
}

.satelite {
  height: 30px;
  margin: 30px;
  transform: rotate(-1deg);
  /* transition-duration: 200ms;
      transition-timing-function: ease-out;
      */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.7);
  }
}

@keyframes cursorClick {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.expand {
  animation: cursorClick 0.5s forwards;
  border: 1px solid blue;
}

.link-grow {
  transform: scale(2);
  background: #1a28cf;
}

@media (hover: none) and (pointer: coarse) {
  .cur {
    display: none;
  }
  body {
    cursor: default;
  }
}
